<nav class="navbar " style="background-color: #90f85f">
   
    <div class="container-fluid" >
       
      <a class="navbar-brand" href="/" style="font-weight:bolder">Issue Tarcker</a>
      <a class="navbar-brand" href="/" style="font-weight:bolder">Home</a>
    </div>
  </nav>
 