<nav class="navbar " style="background-color: #90f85f">
   
    <div class="container-fluid">
       
      <a class="navbar-brand" href="/" style="font-weight:bolder"></i>Issue Tarcker</a>
    </div>
  </nav>
 