<div id="form-container" style="width: 50%; border: 1px solid gray; margin-left: 25%;margin-top: 5%; ">
    <a href="/" style="margin: 5px; text-decoration: none; font-weight:bolder" >X</a>
    <form action="/project/create" method="post" style="padding: 10px;">
        <h4 style="color: rgb(97, 202, 244);">Create New Project</h4>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="enter your project name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" name="Description" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Author</label>
            <input type="text" class="form-control" name="Author" id="exampleFormControlInput1" placeholder="Author name..">
          </div>
          <div class="mb-1">
            
            <input type="submit" class="form-control" style="background-color: lightcyan;" value="submit">
          </div>

    </form>
</div>