

p{
    width: 100%;
    height: 40px;
    font-size: x-large;
    border-bottom: 1px solid black;
    text-decoration: solid;
}

.btn-details button{
    width: 20%;
    height: 40px;
    font-size: larger;
    color: white;
    background-color: black;
    border-radius: 20px;
    margin-bottom: 10px;
   
}
